[Desktop Entry]
Version=1.0
Type=Application

Name=Mark versus Paul
Comment=The action-arcade game with spells and somersaults!
Categories=Game;ActionGame;

Icon=io.github.xolatgames.marknpaul.svg
Exec=marknpaul
Terminal=false
